#####################################################
## Jangan hapus file ini - thanks! 🙂 ##
#####################################################
*.sketch
*.fig
*.xd
.DS_Store
.prettierignore
node_modules/